{% extends 'base.html.twig' %}

{% block title %}Disc index{% endblock %}

{% block body %}
{# <div class="container">
    <h1 class="text-center">liste des disques</h1>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('app_form_new') }}"><i class="fa-solid fa-plus"></i></a>
        {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Id</th>
                {% endif %}
                    <th>Artistes</th>
                    <th>Titres</th>
                    <th>Images</th>
                    <th>Label</th>
                    <!-- <th>Genre</th>
                    <th>Prix</th> -->
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>


        {% for disc in discs %}
        {# {% dump(disc) %}  #}
            {# <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>{{ disc.id }}</td>
                {% endif %}
                    <td>{{ disc.artist.name }}</td>
                    <td>{{ disc.title }}</td>
                    <td>{{ disc.picture }}</td>
                    <td>{{ disc.label }}</td>
                    {#  <td>{{ disc.genre }}</td>
                    <td>{{ disc.prix }}</td>  #}
{#                    <td>
                        <a href="{{ path('app_form_show', {'id': disc.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_form_edit', {'id': disc.id}) }}">Editer</a>
                        {% endif %}
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div> #}

<div class="container">
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_form_new') }}"><i class="fa-solid fa-circle-plus" title="Ajouter un artiste"></i></a>
    {% endif %}
        <div class="grid">
           {% for disc in discs %}

                <div class="card ml-4">
                            <img src="{{app.request.basepath}}/images/produit/{{disc.picture}}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ disc.title}}</h5>
                                <div class="card-title">{{ disc.artist.name }}</div>
                                    <p class="text text-muted">Label: {{ disc.label }}</p>
                                    <p class="text text-muted">Genre: {{ disc.genre }}</p>
                                    <p class="text text-primary">Prix: {{ disc.price }} &nbsp€</p>
                                    <a class="ml-2" href="{{ path('app_form_show', {'id': disc.id}) }}"><i class="fa-solid fa-eye" title="Visualiser le disque"></i></a>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <a class="ml-2" href="{{ path('app_form_edit', {'id': disc.id}) }}"><i class="fa-solid fa-pen-to-square" title="Editer"></i></a>
                                    <!-- bouton mise en avant -->
                                            <a class="float-right ml-2" href="#"><i class="bi bi-arrow-up-left-circle-fill" title="Mettre en avant"></i></a>
                                            {# <a class="float-right ml-2" href="#"><i class="bi bi-arrow-down-right-circle-fill" title="Retirer la mise en avant"></i></a> #}
                                        {% endif %}
                                    <!-- bouton ajouter au panier -->
                                    <a class="float-right" href="{{ path("cart_add", {id: disc.id}) }}" title="Ajouter au panier">
                                        <i class="bi bi-cart-plus"></i>
                                    </a>    
                                </div>
                </div>

        {% endfor %}

    </div>
</div>
{% endblock %}
