{# {% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/vinc/Documents/dev integ/symphony/tuto/src/Controller/LoginController.php'|file_link(0) }}">src/Controller/LoginController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/vinc/Documents/dev integ/symphony/tuto/templates/login/index.html.twig'|file_link(0) }}">templates/login/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}


{% extends 'base.html.twig' %}
{% block body %}
    {% if error %} 
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<form action="{{ path('login') }}" method="post">
    <div class = "container">
       <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <br>
                <div class = "d-flex justify-content-center">
                    <label for="username">Email:</label>
                        <input class="col-2" type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div> <!-- fin div justify -->
                    <br>
                <div class = "d-flex justify-content-center">
                   <label for="password">Mot de passe:</label>
                        <input class="col-2" type="password" id="password" name="_password"/>
                </div> <!-- fin div justify -->
                    <br>
 {# If you want to control the URL the user is redirected to on success <input type="hidden" name="_target_path" value="/account"/> #}
                <div class = "d-flex justify-content-center">
                    <button class ="btn btn-primary" type="submit" class="btn">login</button>
                </div> <!-- fin div justify -->
    <div> <!-- fin div container -->
 </form> {% endblock %}

